@using RaceDayDisplayApp.Models
@using MvcJqGrid

@{
    Layout = null;
}

@model Race

@Html.HiddenFor(m => m.RaceId)


<div class="grid_buttons_div">
    @{if (Model.Runners.Count > 0)
    {
        var i = 0;
        foreach (var item in LiveDataGridHelper.GetFieldsIndexes(Model.CountryCode, Model.Runners[0]))
        {
            <div class="hist_table_controls">
                <input id="btn_@(i)" class="btn_hist" type="button" value="@(item.Key)" onclick="showFields(@(i++), @(item.Value))" />
            </div>
        }
    }
    }
</div>





<tr>
    <td width="10"><span class="cell_favorite">00</span></td>
    <td width="70" align="left">Favourite</td>
    <td width="10"><span class="cell_dropBy20">00</span></td>
    <td width="100">Odds Drop by 20%</td>
    <td width="10"><span class="cell_dropBy50">00</span></td>
    <td width="100">Odds Drop by 50%</td>
</tr>


@(Html.Grid("race_grid")
.SetDataType(MvcJqGrid.Enums.DataType.Json)
.SetHeaderTitles(true)
.OnAfterInsertRow("gridAfterInsertRow(rowid,rowdata,rowelem)")
.OnGridComplete("hideColumnsFirstTime()")
.SetAltRows(true)
.SetAltClass("alt_rows")
.AddColumns(ViewBag.GridColumns)
.SetUrl(Url.Action("GridData", "Meetings", new { id = Model.RaceId, country = Model.CountryEnum }))
//.SetUrl("Meetings/GridData/" + Model.RaceId + "?isStarted='+$('#isStarted').val()+'&isDone='+$('#isDone').val()+'")
.SetAutoWidth(true)
.SetLoadUi(MvcJqGrid.Enums.LoadUi.Block)
.SetViewRecords(true)
.SetEmptyRecords("No Runners Found")
.SetShowAllSortIcons(true)
.SetShrinkToFit(true))

<div id="refreshInfo"></div>