@using RaceDayDisplayApp.Models

@{
    Layout = null;
}

@model Meeting


<h3>Meeting Details</h3>
<div class="details_attrs">
    @foreach (var field in ModelHelper.ToNameValuePairs(Model, Model.IsHK))
    {
        <div class="details_attrs_wrapper">
            @field.DisplayName:
            @field.Value
        </div>
    }
</div>
@if (ViewBag.FullAccess)
{
    <div class="history-container">

    @using (Html.BeginForm("StatsTable", "RaceResearch", FormMethod.Post, new { id = "meeting-form" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("SelectedCountryId", Model.CountryId)
        @Html.Hidden("SelectedRaceCourseId", Model.RaceCourseId)
        @*@Html.Hidden("SelectedSeasonId", Model.SeasonId)*@ 
        @Html.Hidden("SelectedSuperMeetTypeId", Model.supermeetingtypeid)
        @*@Html.Hidden("SelectedSuperRaceTypeId", Model.SuperRaceId)*@
        @*@Html.Hidden("SelectedNumRunnersId", Model.NumberOfRunners)*@
    }

        <div class="panel-flip" id="meeting-flip"><span id="meeting-span">Show</span> more (FAV/LSW/TF/QN/F4 statistics)</div>
        <div class="panel-history" id="meeting-history">
        </div>
    </div>
}