@using RaceDayDisplayApp.Models

@{
    Layout = null;
}

@model Race


<h3>Race Details</h3>
<div class="details_attrs">
    @foreach (var field in ModelHelper.ToNameValuePairs(Model, Model.CountryEnum))
    {
        <div class="details_attrs_wrapper">
            @field.DisplayName:
            <span id="@(field.FieldName)">@(field.Value)</span>
        </div>
    }
</div>
@if (ViewBag.FullAccess)
{
    <div class="history-container">

    @using (Html.BeginForm("StatsTable", "RaceResearch", FormMethod.Post, new { id = "race-form" }))
    {
        @Html.AntiForgeryToken()
    
        @Html.Hidden("SelectedCountryId", Model.CountryId)
        @Html.Hidden("SelectedRaceCourseId", Model.RaceCourseId)
        @*@Html.Hidden("SelectedSeasonId", Model.SeasonId)*@ 
        @Html.Hidden("SelectedSuperMeetTypeId", Model.supermeetingtypeid)
        @Html.Hidden("SelectedSuperRaceTypeId", Model.superracetypeid)
        @Html.Hidden("SelectedNumRunnersId", Model.NumberOfRunners)
    }

        <div class="panel-flip buttons" id="race-flip"><span id="race-span">Show</span> more (FAV/LSW/TF/QN/F4 statistics)</div>
        <div class="panel-history" id="race-history">
            @*@{Html.RenderPartial("_StatsTable", Model.MarketData);}*@
        </div>
    </div>
}