@using RaceDayDisplayApp.Models

@model RaceDayDisplayApp.Models.Meeting

@{
    ViewBag.Title = "Meeting Details";
}

@Html.HiddenFor(m => m.MeetingId)
@Html.HiddenFor(m => m.IsHK)


<div class="main_container">
    <div id="panel_left">
        <h2>Meeting Details</h2>

        <div class="select">
            <div class="select_div">
                @Html.DropDownList("RacesList", new SelectList(Model.Races, "RaceId", "RaceNumber"), "Race number")
            </div>
            <div class="select_div" id="btns_div">
                <div class="btn_container">
                    <input id="btn_refresh" type="button" value="Refresh" onclick="refreshGrid()" />
                </div>
                <div class="btn_container">
                    <input id="btn_default" type="button" value="Default" onclick="defaultSettings()" />
                </div>
            </div>
        </div>
        <div id="meeting_details">
            <h3>Meeting Details</h3>
            <div class="details_attrs">
                @foreach (var field in ModelHelper.ToNameValuePairs(Model, Model.IsHK))
                {
                    if (field.Value != "")
                    {
                        <div class="details_attrs_wrapper">
                            @field.DisplayName:
                            @field.Value
                        </div>
                    }
                }
            </div>
        </div>
        <div id="race_details">
        </div>
        <div id="chks_container" class="chks_container">
            @{Html.RenderPartial("_GridSettings", (IEnumerable<ViewUserSetting>)ViewBag.UserSettings);}
        </div>
        <div id="form-box"></div>
    </div>
    <div id="panel_right">
        <h2>Chart Details</h2>
        <p>Drag & Drop grid items to this area</p>

    </div>
</div>

