@model IEnumerable<RaceDayDisplayApp.Models.RaceDisplay>

@{
    ViewBag.Title = ViewBag.Today? "Upcoming Races" : "All races";
}

<div class="index_head">
    @if (ViewBag.Today) {
        <h2>@String.Format("Upcoming Races starting {0}, {1}", DateTime.Today.DayOfWeek.ToString(), DateTime.Today.ToShortDateString())</h2>
        <div class="index_link1">
            @Html.ActionLink("View All Races", "RaceList", new { today = false })
        </div>
    }
    else
    {
        <h2>All Races</h2>
        <div class="index_link1">
            @Html.ActionLink("View only upcoming Races", "RaceList", new { today = true })
        </div>
    }
    <div class="index_link2">
        @Html.ActionLink("Change to Meetings view", "MeetingList")
    </div>
</div>

    @if (Model.Count() > 0)
{
    <div class="boxes race_table">
        <table>
            <tr>
                <th>Country</th>
                <th>Date</th>
                <th>JT local</th>
                <th>JT UTC</th>
                <th>Racecourse</th>
                <th>Race No</th>
                <th>Name</th>
                <th>Status</th>
            </tr>

            @{
            var now = DateTime.UtcNow;
            var foundNextRace = false;
            foreach (var race in Model)
            {
                var classTxt = "";
                if (!foundNextRace && race.RaceJumpDateTimeUTC > now) 
                {
                    classTxt = "class='nextRace'";
                    foundNextRace = true;
                }
                
                <tr @Html.Raw(classTxt)>
                    <td>@race.CountryCode</td>
                    <td>@race.MeetingDate.ToShortDateString()</td>
                    <td>@race.LocalJumpTime.ToString()</td>
                    <td>@race.RaceJumpDateTimeUTC.ToString("hh:mm")</td>
                    <td>@race.RaceCourseName</td>
                    <td>@race.RaceNumber</td>
                    <td class='race_column'>@Html.ActionLink(race.RaceName ?? "(no name)", "RaceDetails", new { id = race.RaceId, country = race.CountryEnum, today = ViewBag.Today })</td>
                    <td>@race.RaceStatus</td>
                </tr>
                
            }
            }
        </table>

    </div>
}
