@using RaceDayDisplayApp.Models

@model dynamic

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Horse Details/History";
}

@section scripts
{
    @Scripts.Render("~/bundles/RunnerHistory")
}

<div class="horse-history">
    <div class="horse-details">
        <h2>Horse Details</h2>
        <div class="details_attrs">
            @if (Model.HorseDetails == null || Model.HorseDetails.Count() == 0)
            {
                <h4>Horse Details not found in Database</h4>
            }
            else
            {
                foreach (KeyValuePair<string, object> kvp in Model.HorseDetails)
                {
                    if (kvp.Value != null)
                    {
                        <div class="details_attrs_wrapper">
                            @kvp.Key:
                            @kvp.Value
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="runner-history">
        <h2>Runner History</h2>
        @if (Model.RunnerHistory == null && Model.RunnerHistory.Count() == 0)
        {
            <h4>Runner history not found in Database</h4>
        }
        else
        {
            <div class="select_div">
                @{var i = 0;}
                @foreach (var item in Model.Fields)
                {
                    <div class="hist_table_controls">
                        <input id="btn_@(i)" class="btn_hist" type="button" value="@(item.Key)" onclick="showFields(@(i++), @(item.Value))" />
                    </div>
                }
            </div>

            <table class="table-runner-history">
                <tr>
                    @foreach (KeyValuePair<string, object> kvp in ((IEnumerable<dynamic>)Model.RunnerHistory).First())
                    {
                        if (!RunnerHistoryHelper.ControlFields.Contains(kvp.Key))
                        {
                            <th>@kvp.Key</th>
                        }
                    }
                </tr>
                @{var lastSeason = "";}
                @foreach (dynamic item in Model.RunnerHistory)
                {
                    if (lastSeason != item.Season)
                    {
                        <tr><td class="season-row" colspan="@RunnerHistoryHelper.GetNumAttrs(item)">Season @item.Season</td></tr>
                        lastSeason = item.Season;
                    }
                    if (item.FU != null)
                    {
                        <tr><td class="FU-row" colspan="@RunnerHistoryHelper.GetNumAttrs(item)">SPELL</td></tr>
                    }
                    if (item.LU != null)
                    {
                        <tr><td class="LU-row" colspan="@RunnerHistoryHelper.GetNumAttrs(item)">FRESHEN UP</td></tr>
                    }
                    <tr>
                        @foreach (KeyValuePair<string, object> kvp in item)
                        {
                            if (!RunnerHistoryHelper.ControlFields.Contains(kvp.Key))
                            {
                                <td>@RunnerHistoryHelper.FormatField(kvp.Key, kvp.Value)</td>
                            }

                        }
                    </tr>
                }
            </table>
        }
    </div>
</div>