@using MvcCheckBoxList

@model RaceDayDisplayApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.NoNewsletter)
                @Html.CheckBoxFor(m => m.NoNewsletter)
            </li>
            <li>
                @Html.LabelFor(m => m.CountryIDs)
                @Html.CheckBoxListFor(m => m.CountryIDs, m => m.AllCountries, m => m.CountryId, m => m.Name, m => m.SelectedCountries, new MvcCheckBoxList.Model.HtmlListInfo(MvcCheckBoxList.Model.HtmlTag.vertical_columns, 2, null, MvcCheckBoxList.Model.TextLayout.RightToLeft))
            </li>
            <li>
                @Html.LabelFor(m => m.SignUpComment)
                @Html.TextAreaFor(m => m.SignUpComment)
            </li>
            <li>
                @Html.LabelFor(m => m.UILanguageId)
                @Html.DropDownListFor(m => m.UILanguageId, Model.LanguageSelectList)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
